@*/
*.old
*.log
logs/
appcache/
config/
dayzOffline.enoch/
ServerProfile/AC/key.txt
ServerProfile/AC/_noar
mpmissions/dayzOffline.chernarusplus/storage_*
__mods.txt
ServerProfile/Users/
ServerProfile/*.RPT
ServerProfile/*.ADM
ServerProfile/*.mdmp
iniciar_chernarus.bat
AirdropSettings_bakup_*.json
ServerProfile/ExpansionMod/groups/
ServerProfile/KR_BANKING/PlayerDataBase/
ServerProfile/DataCache/
ServerProfile/configs/
ServerProfile/VPPAdminTools/Logging/
iniciar_chernarus.bat

addons/
battleye/
bliss/
docs/
dta/
ban.txt
dayz.gproj
DayZServer_x64.exe
dayzsetting.xml
steam_api64.dll
steamclient64.dll
tier0_s64.dll
vstdlib_s64.dll
whitelist.txt